language: ruby
sudo: false

rvm:
  - 2.3.3

notifications:
  email: false

script:
  - (cd spec/dummy && bundle exec rake db:setup)
  - bundle exec rspec

gemfile:
  - Gemfile-rails-4.0.x
  - Gemfile-rails-4.1.x
  - Gemfile-rails-4.2.x
